:root{
    --green: #16db65;
    --bg:#080808;
    --about-text: rgba(135, 230, 88, 0.055);
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: calc(100% - 10px);
    margin: 0 auto 0 auto;
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080808;
    z-index: 1000;
}
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #16db65; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #080808;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.eyes-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .eye {
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 3px solid var(--green);
    margin: 0 20px;
    position: relative;
  }
  
  .pupil {
    width: 30px;
    height: 30px;
    border: 2px solid var(--green);
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--green);
  }
  @media only screen and (max-width: 768px) {
    .eyes-container {
      display: none;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-slider-thumb{
    scrollbar-width: thin; 
    scrollbar-color: var(--green) 
}
::-webkit-scrollbar-thumb {
    background-color: var(--green); 
}

::-webkit-scrollbar-track {
    background-color: var(--bg); 
}
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translate(-100%);
    transition: 0.4s ease-in-out;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 1.5s ease-in-out;
}
body{
    cursor: none;
    background-color: var(--bg);
    color: white;
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
    background-color: var(--bg);
    background-size: 100px 100px;
    background-image: radial-gradient(
        var(--green) 1px,
        transparent 1px
    );
}
@media only screen and (max-width: 750px) {
  body{
    background-color: var(--bg);
    background-size: 50px 50px;
    background-image: radial-gradient(
        var(--green) 1px,
        transparent 1px
    );
  }
    }

.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--green);
	mix-blend-mode: difference;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: width 0.3s, height 0.3s, background-color 0.3s;
	animation: glow 1s infinite alternate;
    z-index: 2000;
}
@keyframes glow {
	0% {
		box-shadow: 0 0 10px 5px var(--green);
	}
	100% {
		box-shadow: 0 0 20px 10px var(--green);
	}
}
.menu-icon{
    display: none;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid var(--green);
    padding: 16px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transform: scale(0.9);
    background: var(--about-text);
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5px);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.logo:hover{
    color: var(--green);
    text-shadow: 0 0 25px var(--green);
    transform: scale(0.9);
}
.logo span{
    color: var(--green);
    text-shadow: 0 0 20px var(--green);
}
nav{
    padding: 10px;
}
.nav a{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-left: 2rem;    
}
.nav a:hover,
.nav a:active{
    color: var(--green);
    border-bottom: 3px solid var(--green);
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: 15rem; 
    transition: 1.5s ease-in-out;
}
span{
    color: var(--green);
}
.home_container h1{
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.home_container h1 span{
    text-shadow: 0 0 25px var(--green);
}
.home_container h3{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.home_container p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-bottom: 3rem;
}
.home-img{
  border-radius: 50%;
  padding: 1rem;
  margin: 0 auto 0 auto;
  border-top: 3px solid var(--green);
  border-right: 3px dashed var();
  border-bottom: 3px solid var();
  border-left: 3px dashed var();
}
.home-img img{
    position: relative;
    top:2rem;
    width: 25vw;
    box-shadow: 0 0 25px var(--green);
    cursor: pointer;
    transition: 1s ease-in-out;
    border-radius: 50%;
}
.home-img img:hover{
    box-shadow: 0 0 20px var(--green),
                0 0 45px var(--green),
                0 0 95px var(--green);
    animation: border-animation 3s ease-in-out 0s infinite both;
    transition: 1s ease-in-out;
}
.animated-text span{
    position: relative;
}
.animated-text span::before{
    content: "Web Developer";
    animation: words 20s infinite;
}
.animated-text span::after{
    content: "";
    background-color: var(--bg);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border: 3px solid transparent;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/* animation for the home text */
@keyframes cursor {
    to{
        border-left: 3px solid var(--green);
    }
}
@keyframes words {
    0%,
    20%{
        content: 'Fast Learner';
    }
    24%,
    40%{
        content: 'Computer Science Graduate';
    }
    41%,
    60%{
        content: 'Full Stack developer';
    }
    61%,
    80%{
        content: 'Freelancer';
    }
    81%,
    100%{
        content: 'Web Developer';
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
@keyframes sliding {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes border-animation {
    0%{
        border-radius: 50%;
    }
    50%{
        border-radius: 10%;
    }
    100%{
        border-radius: 50%;
    }
}
.social-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background:transparent;
    border: 2px solid var(--green);
    font-size: 2rem;
    border-radius: 50%;
    color: white;
    transition: 0.5s linear;
}
.social-icons a:hover{
    color: var(--green);
    transform: scale(1.3);
    box-shadow: 0 0 25px var(--green);
}
.btn-group{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--green);
    color: white;
    box-shadow: 0 0 25px var(--green);
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}
.about-container {
    margin: 0 auto;
    padding: 10px 20px;
    border: 2px solid var(--green);
}
.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: var(--green);
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}
.about-photo {
   width: 350px;
   border-radius: 50px;
   
}
.about-photo:hover {
    transform: scale(0.8);
  border-radius: 15%;
    transition: 1s ease-in-out;
}
.about-text {
    flex: 2 1 500px;
    max-width: 600px;
    color: white;
    line-height: 1.6;
    padding: 18px;
    background: var(--about-text);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(196, 194, 194, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
}
.about-text p {
    margin-bottom: 20px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
    padding: 10px;
    justify-content: center;
}
.card {
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.5s;
    cursor: pointer;
    border: 1px solid var(--green);
}
.card:hover {
    transform: translateY(-10px);
}
.card:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.project-container.blur .card {
    filter: blur(5px);
    pointer-events: none;
    transition: 0.4s ease;
}

.project-container.blur .card:hover {
    filter: none;
    pointer-events: auto;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 1.5em;
    margin: 0;
    color: var(--green);
}
.card-description {
    color: white;
    margin: 10px 0;
}
.card-links a {
    text-decoration: none;
    color: var(--green);
    margin-right: 10px;
}
.contact-container {
    border: 1px solid var(--green);
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-info-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }
  .section-header h2 {
    color: var(--green);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  .section-header p {
    color: #FFF;
  }
  .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .contact-info {
    width: 50%;
  }
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  .contact-info-content {
    margin-left: 20px;
  }
  .contact-info-content h4 {
    color: var(--green);
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  .contact-info-content p {
    color: #FFF;
    font-size: 1em;
  }
  .contact-form {
    background-color: var(--about-text);
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--green);
  }
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    color: var(--green);
    resize: none;
    background-color: var(--bg);
  }
  input::placeholder {
    color: var(--green);
  }
  input[type="email"]::placeholder {
    color: var(--green);
  }
  textarea::placeholder {
    color: var(--green); 
    font-style: italic;
    font-size: 16px; 
    opacity: 1; 
  }
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background: var(--green);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
  }
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color: var(--green);
  }
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .row {
      flex-direction: column;
    }
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    .contact-form {
      width: 100%;
    }
  }
/* Media Queries */
@media only screen and (max-width:750px) {
    .container{
        width: calc(100% - 1%);
    }
    .header{
        padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1%;
    }
    .menu-icon{
        margin-top: 10px;
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        outline: none;
        
    }
    .header .logo{
        font-size: 30px;
    }
    #menu-lis {
        width: 90%;
        border: 1px solid var(--green);
        position: absolute;
        top:75px;
        right: 0;
        display: none;
        padding: 10px;
        z-index: 3;
        transition: 1s ease-in-out;
        background-color: var(--bg);
    background-size: 70px 50px;
    background-image: radial-gradient(
        var(--green) 3px,
        transparent 3px
    );
    }
    nav ul a{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home{
        margin: 90px auto;
        padding: 10px;
        width: 100%;
        display: grid;
        align-self: center;
        justify-self: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .home_container{
        width: 90vw;
        padding: 10px;
        margin: 0 auto 0 auto;
    }
    .social-icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        gap: 25px;
        margin: auto;
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .home_description{
        padding: 5px;
    }
    .btn-group{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .btn-group .btn{
        width: 150px;
        font-size: 1.2rem;
        font-weight: 600;
    }
.border{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.home-img img{
    width: 100%;
    height: 100%;
}
    .about-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about-photo {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 95%;
    }
    .about-text {
        max-width: 100%;
    }
}